<IfModule mod_rewrite.c>
RewriteEngine On

# Redirect Trailing Slashes if not a directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# Redirect Non-WWW to WWW
RewriteCond %{HTTP_HOST} ^protoncd\.com\.br [NC]
RewriteRule ^(.*)$ https://www.protoncd.com.br/$1 [L,R=301]

# Ensure HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

</IfModule>
